::-webkit-scrollbar { 
  width: 8px; 
}

::-webkit-scrollbar-thumb { 
  background: #cbd5e1; 
  border-radius: 9999px; 
}

::-webkit-scrollbar-track { 
  background: #f8fafc; 
}

.modal { 
  display: none; 
}

.modal.active { 
  display: flex; 
}